/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset ends */

* {
    
    box-sizing: border-box;
    /* border: 1px solid gray; */
    max-width: 100%;
}

/* General Styles */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto Mono', serif;
}

h1 {
    font-family: "Chelsea Market", serif;
    font-size: 6rem;
}

section {
    padding: 4% 0;
    width: 90%;
    margin: 0 auto;
}

/* Header section styles */

nav {
    padding: 2% 0;
}

nav a{
    display: inline-block;
    border-radius: 10px;
    padding: 1% 0%;
    width: 10%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.orange {
    background-color: #FF764E;
    margin-left: 10%;
}

.blue {
    background-color: #5ED3EB;
    margin: 0 24%;
} 
.yellow {
    background-color: #FFCD69;
    margin-right: 10%;
}

/* call to action title section */

cta {
    position: relative;
}

.text, .image {
    display: inline-block;
}

.image {
    width: 30%;
}

.round{
    border-radius: 50%;
}

.text {
    width: 55%;
    margin-left: 5%;
    text-align: center;
    line-height: 2;
    position: absolute;
    top: 200px;
}

.beige {
    background-color: #DDB9A3;
    color: white;
    padding: 4%;
}

.info div {
    width: 30%;
    margin: 5% auto;
}

.bold {
   font-weight: bold; 
}

.bg-img {
    background-image: url('assets/footer_img.jpg');
    height: 50vh;
    background-repeat: none;
    background-size: cover;
    background-position: top center;
    width: 100%;

}

footer {
    background-color: #F9E7DC;
}

/* 
 

.campfire {
    margin: 0 auto;
}

.camper {
    margin: 0 auto;             
}


footer img {
    width: 100%;
    
}

footer nav a{
    display: inline-block;
    font-family: "Roboto Mono", serif;
    font-size: 1.4rem;
    border-radius: 10%;
    margin: 3%;
    padding: 3%;
}

footer nav a:first-child {
    background-color: #FF764E;
    color: white;
}

footer nav a:nth-child(2) {
    background-color: #5ED3EB;
    color: white;
}
footer nav a:last-child {
    background-color: #FFCD69;
    color: white;

} */ 